# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
.ipynb_checkpoints
.idea
node_modules/
yarn.lock
.~*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## ignore demo output files
demo/demo_output

